@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
.App {
  margin-top: 6rem;
}
.Navbar {
  display: flex;
  height: 7rem;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  box-shadow:   0px 13px 15px -22px rgba(0, 0, 0, 0.48);
  border: thin;
  position: fixed;
  width: 100%;
  top : 0;
  left : 0;
  z-index: 100;
}

.Link{
  position: relative;
  text-decoration: none;
  color: black;
}

.Link:hover::after{
  position: absolute;
  content: " ";
  height: 0.200rem;
  width: 100%;
  background-color: #3980d8;
  left: 0;
  bottom: -10px;

}


.Store-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  flex: 1;
  padding-left: 3rem;
  gap: 2rem;
  font-family: "Roboto";
  font-size: 1.5rem;
  
}
.Nav-items {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto";

}

.cart-details {
  position: relative;
}
.cartlist {
  position: absolute;
  top : -0.3rem;
  right: -0.4rem;
  border: none;
  color: white;
  background-color: #3980d8;
  border-radius: 50%;
  padding: 0.2rem;
 
}


.store-info{
  width: 30vw;
  outline: none;
  margin: 7rem 10rem;
  padding: 3.5rem;
  border-radius: 1rem;
  background-image: url("https://cdn.shopify.com/s/files/1/0252/7490/8726/files/bg1.png?v=1656745915");
  color: #fff;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 0.100rem;
  word-spacing: 0.190rem;
  line-height: 1.5rem;

  
}

.Home-page { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  background-color: black;
  color: #fff;
  width: 15rem;
  height: 3rem;
  text-align: center;
  font-size: 1.3rem;
  outline :none;
  border: none;
  border-radius: 1rem;
  font-family: sans-serif;
   padding-bottom: 0.120rem;
   margin-left: 3rem;
}

.Login {
  box-sizing: border-box;
  background-color: #fff;
  width: 40vw;
  height: 60vh;
  margin-left: 30vw;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  padding: 3.3rem;
  border-radius: 0.5rem;
  position: fixed;
  font-family: 'Roboto';
}

.text-fields {
  display: flex;
  flex-direction: column;
  gap : 1rem;
}

.Label-name {
  display: flex;
  flex: 1;
  font-size: 1.3rem;
  height: 2.5rem;
  align-items: center;
  letter-spacing: 0.030rem;
  color:  rgb(37, 37, 37);
  font-family: 'Roboto';

}

.inputs {
  height: 2.5rem;
  border-radius: 0.5rem;
  border: thin solid lightgrey;
}

.Login-btn {
  display: flex;
  height: 2.5rem;
  width : 15rem;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  border: thin solid #0361d4;
  border-radius: 0.5rem;
  background-color:white; 
  color: #0361d4; 
  outline: none;
  transition: 0.7s;
  letter-spacing: 0.060rem;
  font-family: 'Roboto';
}

.Login-btn:hover{
  
  background-color: #0361d4;
  color: white;
  transition: 0.7s;
}

.Extra-details {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  letter-spacing: 0.060rem;
  gap : 1.5rem;
  align-items: center;
  font-family: 'Roboto';
}

.FPass, .nacc {
  color: #3980d8;
  cursor: default;
  letter-spacing: 0.050rem;
  font-size: 1rem;
}


.Shop-List {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem;
  column-gap: 2rem;
  row-gap: 2rem;
}
.Shop-Item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 32rem;
  border-radius:  1rem;
  padding: 1.5rem;
}
.product-image{
   height: 20rem;
   display: flex;
   justify-content: center;
   align-items: center;
}
.Rating{
  bottom: 0;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  align-items: center;
  gap : 1rem;
  font-size: 1.5rem;
}
.product-title {
  display: flex;
  justify-content: center;
  height: 4rem;
  font-size: 1.1rem;
  letter-spacing: 0.020rem;
  font-family: "Roboto";

}
.price-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 4rem;
  font-size: 1.5rem;
  
}

.cart-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  gap : 1rem;
  
  
}

.cart-btn {
  border: solid;
  width : 10rem;
  height: 2.7rem;
  border-radius: 1.2rem;
  font-size: 1rem;
  letter-spacing: 0.050rem;
  border-color: rgb(46, 121, 241);
  color:rgb(46, 121, 241);
  outline: none;
  background-color: white;
  justify-content: center;
  transition: 0.6s;
}
.cart-btn:hover {
  background-color: rgb(46, 121, 241);
  transition: 0.6s;
  color: #fff;
}

.cart-Items {
  margin: 5rem;
  min-height: 100vmin;
  background-color:  #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
  
}
.cartList-header {
 margin-top: 2rem;
}
.cancel-Icon {
  width: 3rem;
  position: absolute;
  right: 2.5rem;
  top : 1rem;
}
.Product {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height : 13rem;
  justify-content: space-around;
  align-items: center;
  margin: 7rem;
  gap : 6rem;
  border: 1px solid black;
  border-radius: 0.5rem;

}
.cart-product-img {
  display: flex;
  height : 15rem;
  justify-content: center;
  align-items: center;

}

.product-details {
  display: flex;
  height : 15rem;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-size: 1.4rem;
  
}

.add-remove-icons {
  display: flex;
  height : 15rem;
  justify-content: center;
  align-items: center;
  gap : 2rem;
  
}

.selected-Product{
  margin-top: 4rem;
  box-sizing: border-box;
  height: 40rem;
  position: fixed;
  left : 10rem;
  background-color: #fff;
  right: 10rem;
  border-radius: 0.5rem;
  padding-left: 4rem;
  padding-right: 4rem;

}
.selected-Product-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap : 2rem;
}

.selected-Product-image {
  width: 30rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-Product-description{
  display: flex;
  flex-direction: column;
   gap: 2rem;
   font-size: 1rem;
}

@media  screen and (max-width: 600px) 
{
  .Shop-List {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 3rem;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-left: 2rem ;
  }
}